.grid {
    display: grid;
}

.gtc-260-600-320 {
    grid-template-columns: 260px 600px 320px;
}

.gtc-105-145-115 {
    grid-template-columns: 105px 145px 115px;
}

.gtr-5auto {
    grid-template-rows: auto auto auto auto auto;
}

.gtr-880 {
    grid-template-rows: 880px;
}

.col-gap110 {
    column-gap: 110px;
}

.row-gap36 {
    row-gap: 36px;
}

.box-shadow {
    box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
}

.box-shadow-red {
    box-shadow: 0px 8px 19px 0px rgba(223, 223, 253, 0.60);
}

.grid-backround {
    background: linear-gradient(322deg, #F8F8FF 0%, #FFF 100%);
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-flex-start {
    align-items: flex-start;
}

.jus-between {
    justify-content: space-between;
}

.jus-start {
    justify-content: start;
}

.jus-center {
    justify-content: center;
}

.btlr32 {
    border-top-left-radius: 32px;
}

.bblr32 {
    border-bottom-left-radius: 32px;
}

.btrr32 {
    border-top-right-radius: 32px;
}

.bbrr32 {
    border-bottom-right-radius: 32px;
}

.br1px-solid255 {
    border: 1px solid rgba(255, 255, 255, 0.50);
}

.br8 {
    border-radius: 8px;
}

.br-16 {
    border-radius: 16px;
}

.br-30 {
    border-radius: 30px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.clr-ab {
    color: var(--AmberBlack);
}

.clr-sb {
    color: var(--SkyBlue);
}

.clr-rb {
    color: var(--RedButton);
}

.clr-fff {
    color: #FFF;
}

.padding32 {
    padding: 32px 32px 32px 32px;
}

.pr-8 {
    padding-right: 8px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-32 {
    padding-right: 32px;
}

.pl-8 {
    padding-left: 8px;
}

.pl-16 {
    padding-left: 16px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-22 {
    padding-left: 22px;
}

.pl-32 {
    padding-left: 32px;
}

.pl-38 {
    padding-left: 38px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-32 {
    padding-top: 32px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-58 {
    padding-top: 58px;
}

.pt-65 {
    padding-top: 65px;
}

.pt-82 {
    padding-top: 82px;
}

.pt-162 {
    padding-top: 162px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-24 {
    padding-bottom: 24px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pb-38 {
    padding-bottom: 38px;}

.gap5 {
    gap: 5px;
}

.gap10 {
    gap: 10px;
}

.gap15 {
    gap: 15px;
}

.gap26 {
    gap: 26px;
}

.gap72 {
    gap: 72px;
}

.m0-auto {
    margin: 0 auto;}

.mt-2 {
    margin-top: 430px;
}

.w-68 {
    width: 68px;
}

.w-260 {
    width: 260px;
}

.w-385 {
    width: 385px;
}

.w-1360 {
    width: 1360px;
}

.h-25 {
    height: 25px;
}

.h-38 {
    height: 38px;
}

.h-220 {
    height: 220px;
}

.h-910 {
    height: 910px;
}

.back-tr {
    background: transparent;
}

.back-red {
    background-color: var(--RedButton);
}

.back-pl {
    background-color: #F8F8FF;
}

.br-none {
    border: none;
}

.tdl-ul {
    text-decoration-line: underline;
}

.br-01-sb {
    border: 0.1px solid var(--SkyBlue);}