.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-md {
    width: 32px;
    height: 32px;
}

.icon-xl {
    width: 55px;
    height: 55px;
}